<footer id="footer" class="footer footer-6">		
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<hr class="divider--footer">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="footer--links">
						<ul class="list-inline mb-0"> 
							<li><a href="#">About</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-6">
					<div class="footer--copyright text-right">
						<span>&copy; 2017</span>
					</div>
				</div>			
			</div>
		</div>
	</div>
</footer>



<!-- {% if page.has_js_app %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/{{ page.asset_namespace }}.min.js?{{site.time | date: '%s%N' }}" async deferred></script>
{% else %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/global.min.js?{{site.time | date: '%s%N' }}" async deferred></script>
{% endif %} -->